<div class="container">
  <div class="hero-unit mainmenu">
    <h1>EPSTEIN</h1>
    <br/>
    <a href="<%=setlist_index_path%>" class="btn btn-block btn-primary btn-large">セットリスト作成</a>　　　
    <a href="<%=musics_path%>" class="btn btn-block btn-primary btn-large">楽曲管理</a>
  </div">
</div">

